/* MAIN */

* {margin: 0; padding: 0; transition-duration: 200ms;}

body
{
  font-family: 'Open Sans', sans-serif;
  color: #2d2d2d;
  background-color: #fff;
  overflow-x: hidden;
}

.content
{
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
}

/* START */

.start
{
  min-height: 600px;
  background: url("../img/background.jpg") no-repeat  top;
  background-size: cover;
  color: white;
}

.start div
{
  left: 0;
  top: 20%;
  width: 50%;
  position: absolute;
  text-align: center;
  padding: 0 20px;
}

.start::after
{
  content: ' ';
  position: absolute;
  bottom: 0;
}

.start h1
{
  text-transform: uppercase;
  font-weight: bolder;
}

.start h2
{
  margin: 20px 0;
  font-size: 22px;
}

.start p
{
  font-size: 13px;
}

.start button
{
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  background-color: #3e8bce;
  border: none;
  margin-top: 50px;
  padding: 10px 20px;
  border: 2px solid rgba(0,0,0,1);
  border-radius: 5px;
}

.start button:hover
{
  border-color: #216eb0;
  transform: scale(1.1);
}


/* INFO1 */

.info1
{
  text-align: center;
  background-color: #f1f1f1;
  padding: 50px 0 30px;
  box-shadow: inset 0px 50px 50px -50px rgba(0,0,0,0.4);
}

.info1 h2
{
  color: #3e8bce;
  font-size: 24px;
}

.info1 h2 span
{
  font-weight: bolder;
}

.person
{
  display: inline-block;
  width: 12%;
}

.person img
{
  width: 120px;
  border: 4px solid #3e8bce;
  border-radius: 50%;
}

.person span
{
  display: block;
  font-weight: bolder;
}

.person span::before
{
  content: "IQ: ";
}

/* info2 */

.info2
{
  text-align: center;
  padding: 50px 0 30px;
  box-shadow: inset 0px 50px 50px -50px rgba(0,0,0,0.2);
}

.info2 h2
{
  color: #3e8bce;
  font-size: 24px;
}

.info2 h2 span
{
  font-weight: bolder;
}

.info2 table
{
  margin: auto;

  width: 50%;
  display: inline-block;
}

.info2 th
{
  background-color: #3e8bce;
  padding: 5px 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-top: 4px solid #71b0e7;
}

.info2 td
{
  padding: 2px 20px;
  text-align: right;
  width: 50%;
  border-bottom: 1px solid #71b0e7;
}

.info2 td:first-child
{
  text-align: left;
}

.info2 section
{
  display: inline-block;
  width: 50%;
  float: right;
  padding-right: 30px;
  text-align: right;
}

.info2 section h2
{
  font-size: 18px;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}

.info2 hr
{
  width: 60%;
  margin-left: 40%;
  margin-top: 10px;
  border-color: #71b0e7;
}
/* test */

#test
{
  text-align: center;
  padding: 30px 0 10px;
  box-shadow: inset 0px 50px 50px -50px rgba(0,0,0,0.2);
  /* temp */ height: 600px;
}

#test h2
{
  color: #3e8bce;
  font-size: 24px;
}

#test h2 span
{
  font-weight: bolder;
}

.end
{
  display: none;
}

.starts
{
  cursor: pointer;
}

#questions
{
  font-size: 25px;
}

.continues
{
  height: 100px;
  width: 300px;
  font-size: 15px;
  margin: 20px;
}

.continues:disabled
{
  cursor: not-allowed;
  color:#fff;
  background-color: whitesmoke;
  margin: 5px auto;
  padding: 1%;
  border: none;
  border-radius: 8px;
}

.continues:enabled
{
  cursor: pointer;
  color: whitesmoke;
  background-color: #75accb;
  border: none;
  border-radius: 8px;
  margin: 5px auto;
  padding: 1%;
}

#test li
{
  display: inline-block;
  list-style: none;
  font-size: 20px;
  line-height: 100px;
  border-radius: 8px;
  color:#75accb;
  background-color: whitesmoke;
  margin: 10px 25px!important;
  cursor: pointer;
  width: 80%;
}

.answers
{
  width: 50%;
  float: left;
}

.phoneSignal
{
  display: none;
}

/* footer */

footer
{
  position: fixed;bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0 0;
}

footer p
{
  text-align: right;
  font-size: 12px;
}

footer span
{
  font-weight: bold;
}

/* RWD */
@media(max-width: 1200px)
{
  .start div
  {
    top: 10%;
    left: 20%;
    width: 60%;
    position: absolute;
    text-align: center;
    padding: 0 20px;
  }

  .person
  {
    width: 23%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px)
{
  .answers
  {
    width: 100%;
    float: none;
  }
}

@media (max-width: 600px)
{
  .start div
  {
    top: 5%;
    left: 10%;
    width: 80%;
    position: absolute;
    text-align: center;
    padding: 0 20px;
  }

  .person
  {
    width: 48%;
    margin-bottom: 10px;
  }

  .person img
  {
    width: 100px;
  }
}
